div:hover {
    border: 2px solid red;
}
#um {
    background-color: aqua;
}
#dois {
    background-color: rgb(8, 161, 161);
}
#tres {
    background-color: rgb(20, 185, 14);
    padding: 20px;
}
#quatro {
    background-color: rgb(7, 136, 187);
}
#cinco {
    background-color: rgb(5, 177, 5);
}
#seis {
    font-size: 20px;
    color: blue;
}
#sete {
    font-size: 25px;
    color: rgb(13, 10, 194);
}
#oito {
    font-size: 30px;
    color: rgb(204, 19, 158);
}
#nove {
    font-size: 35px;
    color: rgb(238, 216, 17);
}
#dez {
    font-size: 40px;
    color: rgb(236, 236, 250);
}